<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sree.outlaymanagement">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/images4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MobileRechargeActivity$LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".IncomeActivity" />
        <activity android:name=".ElectricitybillActivity" />
        <activity android:name=".PayElectricityActivity" />
        <activity android:name=".DebitcardActivity" />
        <activity android:name=".MobileRechargeActivity" />
        <activity android:name=".BudgetLineActivity" />
        <activity android:name=".ExpenseActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".Chart" />

        <receiver
            android:name=".SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".NotificationActivity" />
        <activity android:name=".MonthlyReviewActivity" />
        <activity android:name=".SyncActivity" />
        <activity android:name=".GraphActivity" />
        <activity android:name=".GenerateChartActivity" />
        <activity android:name=".WaterbillActivity" />
        <!-- <activity android:name=".DemoActivity" /> -->
        <activity android:name=".PayWaterActivity" />
        <activity android:name=".LoanActivity" />
        <activity android:name=".InsuranceActivity" />
        <activity android:name=".ExpensebarchartActivity" />
        <activity android:name=".EBarActivity" />
        <activity android:name=".IncomebarchartActivity" />
        <activity android:name=".BarChartActivity"/>
        <activity android:name=".IBarActivity"></activity>
    </application>

</manifest>